@font-face {
  font-family: "Petit Formal Script";
  src: url('/fonts/PetitFormalScript-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url('/fonts/RobotoCondensed-VariableFont_wght.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {

/* scroll animation */
  animation: BG linear forwards;
  animation-timeline: scroll();

  /* colors */
  --color-primary: #CB98FF;
  --color-secondary:#C4EBC8;
  --color-tertiary:#641c85;
  --color-quaternary:#8291FF;
  --color-light:#EEF5DB;
  --color-dark:#31081F;

  /* shadows */
  --box-shadow-color: hsla(15, 100%, 11%, 0.20);
  --box-shadow-text: 0 0 15px var(--box-shadow-color);
  --box-shadow-object: 0 0 25px 5px var(--box-shadow-color);

  /* fonts */
  --font-family-heading: "Petit Formal Script", serif;
  --font-family-primary: "Roboto Condensed", sans-serif;

  /* font-sizes */
  --font-size-regular: 1rem;
  --font-size-medium: 1.2rem;

  /* utentils */
  --padding-small: .5rem;
  --padding-regular: 1rem;
  --padding-medium: 2rem;
  --padding-large: 4rem; 
  --padding-container: 1rem 0;

  --border-radius-regular:1rem;

  --gap-small:.2rem;
  --gap-regular: 1rem;

  /* transform */
  --transform-scale-regular: scale(1.05);
  
  /* transition */
  --hover-transition: 200ms 0ms ease-in-out;

    @media (min-width:700px) {
    /* utentils */
    --gap-small: .5rem;
  }
}

@keyframes BG {
  0% {
    background-color:var(--color-primary);
  } 
  100% {
    background-color:var(--color-quaternary);
  }
}

* {
  box-sizing: border-box;
  font-family: var(--font-family-primary);
  
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100dvw;
  color: var(--color-dark);
  display: block;
}

main {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img, 
video {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--border-radius-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  text-align:center;
}

p,
ul,
li,
a {
  font-size: var(--font-size-regular);
  line-height:1.5rem;
}

ul {
  margin-block: 0;
  padding-inline: 0;
  list-style:none;
}

a,
a:visited,
a:link {
  --main-color:var(--color-light);
  outline-color: transparent;
  transition: var(--hover-transition);
  color:var(--main-color);
  text-decoration: none;
  height: 100%;
  display: block;
}

a:focus {
  text-decoration: none;
  background: var(--color-secondary);
}

a:hover {
  background:var(--color-secondary);
  color:var(--color-dark);
  transform: var(--transform-scale-regular);
}

a:active {
  background: var(--color-dark);
  color: var(--color-secondary);
}
